npm #root {
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  will-change: filter;
  padding: 1.5em;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff6964aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.formStyle {
  flex-direction: column;
  display: flex;
}
.formStyle {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 20px 60px rgba(255, 255, 255, 0.1);
  width: 100%;
  margin-bottom: 20px;
}

.formStyle h3 {
  color: #1f509a;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

input[type='text'],
textarea {
  border: 1px solid #0004f8;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}

textarea {
  resize: none;
  height: 80px;
}

button[type='submit'] {
  background-color: #0a3981;
  padding: 10px 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease;
}
button[type='submit']:hover {
  background-color: #408cff;
}
